#Hero{
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 0 5%;
}
#Hero .Top{
    height: 8%;
}
#Hero .Top button{
    border:none;
    box-shadow: 0 0 5px 1px #0e0e0e35;
    border-radius: 50%;
    height: 5.5vh;
    width: 5.5vh;
    background-color: rgba(230, 226, 226, 0.343);
}
#Hero .Top button i{
    font-size: 3vh;
}
#Hero .Top #logo{
    font-weight: 800;
    font-size: 2vh;
}

#Hero form{
    /* border: 1px solid red; */
    height: 7%;
}
#Hero form input{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px #aaaaaa2b;
    padding: 0 0 0 12.5%;
    font-size: 1.7vh;
}
#Hero form i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3vh;
    color: #aaa;
    left: 3.5%;
}

#Hero #category{
    /* border: 1px solid red; */
    width: 100%;
    height: 35%;
}
#Hero #category .top{
    /* border: 1px solid red; */
    height: 12.5%;
    width: 100%;
    margin: auto;
}
#Hero #category .top h3{
    font-size: 2.2vh;
}
#Hero #category .top button{
    background-color: white;
    color: #333;
    font-size: 1.7vh;
}
#Hero #category .mid{
    /* border: 1px solid teal; */
    height: 26%;
    width: 100%;
    margin: auto;
}
#Hero #category .mid button{
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
}
#Hero #category .bottom{
    border: 1px solid black;
    border-radius: 15px;
    height: 60%;
    width: 100%;
    margin:1% auto 0;
    background-color: black;
}

#Hero #Arrival{
    /* border: 3px solid red; */
    width: 100%;
    height: 42.5%;
}
#Hero #Arrival .top{
    height: 12.5%;
    width: 100%;
    margin: auto;
}
#Hero #Arrival .top h3{
    font-size: 2.1vh;
}
#Hero #Arrival .top button{
    background-color: white;
    color: #333;
    font-size: 1.7vh;
}
#Hero #Arrival .mid{
    /* border: 1px solid teal; */
    width: 100%;
    height: 87.5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5%;
}
#Hero #Arrival .mid .card{
    background-color: white;
    width: 95%;
    height: 25vh;
    margin: 0 2.5%;
}
#Hero #Arrival .mid .card .img{
    width: 100%;
    height: 75%;
    background-color: #666;
    border-radius: 15px;
}
#Hero #Arrival .mid .card .info{
    width: 100%;
    height: 30%;
}
#Hero #Arrival .mid .card .info p{
    font-size: 1.7vh;
    font-weight: 500;
}
#Hero #Arrival .mid .card .info h4{
    font-size: 2vh;
}