#Navbar{
    position: fixed;
    bottom: 1%;
    width: 80%;
    height: 9%;
    border: none;
    margin: 0 10%;
    border-radius: 50px;
    z-index: 50;
    background-color: black;
    transition: 250ms ease;
}   
#Navbar a{
    font-size: 3vh;
    font-family: "Poppins", sans-serif;
}
#Navbar a i{

}